<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}BookStore{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#03a6f3">
        {% block stylesheets %}
          <link rel="stylesheet" href="../css/bootstrap.min.css">
          <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900" rel="stylesheet">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
          <link rel="stylesheet" type="text/css" href="../css/owl.carousel.min.css">
          <link rel="stylesheet" href="../css/styles.css">
        
        {% endblock %}
    </head>
    {% block header %}
    <body>

    <header>
        <div class="main-menu">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="{{ path('home')}}"><img src="../images/logo.png" alt="logo"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="navbar-item active">
                                <a href="{{path('home')}}" class="nav-link">Acceuil</a>
                            </li>
                            <li class="navbar-item">
                                <a  href="{{path('app_livre')}}" class="nav-link">Boutique</a>
                            </li>
                            <li class="navbar-item">
                                <a  href="{{ path('propos') }}" class="nav-link">A propos</a>
                            </li>
                            <li class="navbar-item">
                                <a  href="{{ path('FAQ') }}" class="nav-link">FAQ</a>
                            </li>
                            <li class="navbar-item">
                             {% if app.user %}
                         <div class="mb-3">
                         <p class="text-warning"> <a href="{{ path('profil', {'id': app.user.id}) }}">  {{ app.user.nom }} </a>      <a href="{{ path('app_logout') }}">Logout</a></p>

                          </div>
                          {% else %}
                           <a href="{{ path('app_login') }}" class="nav-link">Login</a>
                             
                          {% endif %}
                            </li>
                        </ul>
                  
                    </div>
                </nav>
            </div>
        </div>
    </header>
  {% endblock %}

{% block body %} 
  <p> body block </p>
{% endblock %}


    {% block footer %}
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="address">
                        <h4>Our Address</h4>
                        <h6>The BookStore Theme, 4th Store
                        Beside that building, USA</h6>
                        <h6>Call : 800 1234 5678</h6>
                        <h6>Email : info@bookstore.com</h6>
                    </div>
                    <div class="timing">
                        <h4>Timing</h4>
                        <h6>Mon - Fri: 7am - 10pm</h6>
                        <h6>​​Saturday: 8am - 10pm</h6>
                        <h6>​Sunday: 8am - 11pm</h6>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="navigation">
                        <h4>Navigation</h4>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms</a></li>
                            <li><a href="#">Products</a></li>
                        </ul>
                    </div>
                    <div class="navigation">
                        <h4>Help</h4>
                        <ul>
                            <li><a href="#">Shipping & Returns</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">FAQ’s</a></li>
                        </ul>
                    </div>
                </div>
             
            </div>
        </div>
        <div class="copy-right">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h5>(C) 2017. All Rights Reserved. BookStore Wordpress Theme</h5>
                    </div>
                    <div class="col-md-6">
                        <div class="share align-middle">
                            <span class="fb"><i class="fa fa-facebook-official"></i></span>
                            <span class="instagram"><i class="fa fa-instagram"></i></span>
                            <span class="twitter"><i class="fa fa-twitter"></i></span>
                            <span class="pinterest"><i class="fa fa-pinterest"></i></span>
                            <span class="google"><i class="fa fa-google-plus"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
        {% endblock %}

        {% block javascripts %}
        <script src="../js/jquery.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>
       <script type="text/javascript" src="../js/owl.carousel.min.js"></script>
        <script src="../js/custom.js"></script>
        {% endblock %}
    </body>
</html>